@import "../../assets/scss/common/colors";
@import "../../assets/scss/common/fonts";

.auth-wrapper{

  .button{
    background-color: $warning-paused!important;
    border: none;
  }
  small{
    color: $warning-paused;
  }

  .forgot_col{
      max-height: 37vh!important;
  }

  .reset_col{
      max-height: 37.5vh!important;
  }

  .fallback-logo{
    position: absolute;
    top: -200px;
    left: -100px;
    width: 38px;
    z-index: 1;
  }
}

.modal_forget{
  .send_otp{
    background-color: $warning-paused!important;
    border: none!important;
  }
  .btn-close{
    background-color: $warning-paused!important;;
  }
}