.gallery {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f8f9fa;
}

.gallery-card {
    overflow: hidden;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    height: 200px; /* Set a fixed height */
    width: 100%; /* Ensure width is 100% of grid cell */
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transform: scale(1.05); /* Adjust scale to fit better */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure images cover the entire card */
    }

    p {
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
        color: #333;
    }
}
